#movieArea{
    display:flex;
    
  /* display:grid; */
  /* grid-template-columns: 1fr 1fr 1fr ;
grid-template-rows: 1fr 1fr ; */
    grid-gap:10px;
    /* /* width: 100%; */
    margin-top: 20px;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
    overflow-x: auto;
    
}

#movieArea img{
    width: 300px;
    transition: 250ms all;
}
img:hover{
    margin-left: 0 40px;
    transform: scale(1.1);
    cursor: pointer;
}

/* .card{
   display: grid;
    width: 300px;
} */
#nav{
    background-color: black important;
}
/* body{
    background-color: rgb(241, 247, 247);
} */
.dummy{
    height: 300px;
    text-align: center;
    background-color: darkslategrey;
}